*{
    margin:0;
    padding:0;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
body{
    font-family:tahoma;
}
.hero{
    position:absolute;
    width:1140px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/mobile.jpg);
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1{
    color:white;
}
.main-nav{
    list-style: none;
    float:right;
    margin-top: 60px;
}
.main-nav li
{
    display: inline-block;
    margin-left:20px;
}
.main-nav li a{
    color:white;
    text-decoration: none;
    font-weight:bold;
}