<div class="container">
  <form>
    <div class="form-group row">
      <label for="inputCid3" class="col-sm-2 col-form-label"><h4>CID</h4></label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputCid3" placeholder="Enter CID">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputCapability3" class="col-sm-2 col-form-label"><h4>Capability</h4></label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputCapability3" placeholder="Enter Capability">
      </div>
    </div><br>
    <div class="form-group row">
      <div class="offset-sm-3 col-sm-5">
        <button type="submit" class="btn btn-primary">AddInfo</button>
      </div>
    </div>
  </form>
</div>